<html>
<head>
    <title>Exemplo StackOverflow</title>
    {% load static %}  <!--tag injetada pelo django;  sao comandos do django pra carregar css e imagens-->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <header>
        <h1>Fórum MyStackOverflow</h1>
        <nav>
            <a href="{% url 'forum:index' %}">Home</a> | 
            <a href="{% url 'forum:inserir_pergunta' %}">Criar pergunta</a>
        </nav>
    </header>

    <main class="container">
        {% block content %} <!-- deixar cabeçalho fixo -->
        {% endblock %}
    </main>
</body>
</html>
