{% extends "forum/base.html" %}

{% block content %}
{% if perguntas %} <!-- comandos do django aparecen assim, mas com duas porcentagens: {%} -->
    <h2>Últimas perguntas</h2>
    <ul>
    {% for pergunta in perguntas %}
        <li>
            <a href="{% url 'forum:detalhe' pergunta.id %}">
                {{ pergunta.titulo }}  <!--o comando basicamente é: "pra cada pergunta crie um link pra ela e coloque o titulo"-->
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nenhuma pergunta disponível...</p>
{% endif %}
<a href="{% url 'forum:inserir_pergunta' %}">
    <button>Nova pergunta</button>
</a>
{% endblock %}